@media (min-width: 56.25rem) {
  .header {
    color: white;
    overflow: hidden;
    display: flex;
    z-index: 99;

    &__sidebar {
      background: rgb(187, 91, 91);
      width: 20vw;
      height: 100vh;
      position: relative;
      overflow: hidden;
    }
    &__navbar {
      background: rgb(70, 125, 197);
      width: 100vw;
      height: 60px;
      display: flex;
      align-items: center;
    }
    &__sidebarClose {
      width: 0vw;
      height: 60px;
    }
    &__navbarMove {
      width: 80vw;
      height: 60px;
      display: flex;
      align-items: center;
    }
  }
}
