.sidebar {
  text-align: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;

  &__left {
    margin: 0 auto;
    width: 0;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
  }
}
